.video-section .flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.video-section .video-content {
    width: 48%;
    margin: 2% 2% 0 0;
}
.video-section .video {
    width: 50%;
    outline: none;
}
.video-section .video-button {
    width: 100%;
}
.bottom-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.bottom-section .itembox {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}
.bottom-section .itembox .bottom-btn {
    width: 11.18rem;
}
.employment-video {
    height: 26.25rem;
    object-fit: cover;
}
@media only screen and (max-width: 1025px){
    .video-section .flex {
        flex-direction: column-reverse;
    }
    .video-section .video {
        width: 100%;
    }
    .employment-video {
        height: auto;
    }
    .video-section .video-content {
        width: 100%;
        margin-top: 1rem;
    }
}